<div class="footer-container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
        <div class="col">
            <img src="./images/light-logo.png" alt="logo">
            </div>
            
            <div class="col">
            
            </div>
            
            <div class="col">
            <h5>Men</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Home</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Features</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Pricing</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">FAQs</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">About</a></li>
            </ul>
            </div>
            
            <div class="col">
            <h5>Women</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Home</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Features</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Pricing</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">FAQs</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">About</a></li>
            </ul>
            </div>
            
            <div class="col">
            <h5>Accessories</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Home</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Features</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">Pricing</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">FAQs</a></li>
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text">About</a></li>
            </ul>
            </div>
    </footer>
</div>